{% extends 'admin_base.html.twig' %}

{% block title %}Admin - Users{% endblock %}

{% block body %}

<section>
TODO: Faire un tableau avec les utilisateurs
<hr>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Rôles</th>
        <th>Validé</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.roles|join(', ') }}</td>

          <td>{% if user.validated %}Oui{% else %}Non
            <form action="/admin/validate_user/{{ user.id }}" method="post">
              <button type="submit">Valider</button>
            </form>
            {% endif %}
          <td>

          <td>{% if user.validated %}
            <form action="/admin/disabled_user/{{ user.id }}" method="post">
              <button type="submit">Désactiver</button>
            </form>
            {% endif %}
          <td>

        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

{% endblock %}
