{% extends 'dashboard_base.html.twig' %}

{% block title %}Hello DashboardController!
{% endblock %}

{% block body %}
	<style>
		.anime {
			transition: 200ms ease;
		}
		.anime:hover {
			background-color: red;
			opacity: 0.5;
		}
		.img {
			position: relative;
		}
		.text {
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.5);
			color: white;
			padding: 10px;
			opacity: 0;
			transition: 200ms ease;
			width: 100%;
		}
		.text span {
			font-weight: 700;
		}
		.img:hover .text {
			opacity: 1;
		}
	</style>

	<div class="container">

		<div class="d-flex justify-content-between align-items-center mt-5">
			<h1 class="fs-3">Mes publications</h1>
			<button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addModal">
				Ajouter
			</button>
		</div>

		<div class="row mx-auto mt-3">
			{% for post in posts %}
				<div class="img col-4">
                    <a href="dashboard/edit/{{ post.id }}">
                        <image style="width: 18rem;" class="anime img-thumbnail rounded" src="{{ post.imageUrl }}" alt="{{ post.name }}">
                        <div class="text">
							<span>{{ post.name }}</span>
							<br>
							{{ post.description }}
						</div>
                    </a>
				</div>
			{% endfor %}
		</div>

	</div>

	{# Add post modal #}
	<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Nouvelle création</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
                <div class="modal-body">
                    {{ form(form) }}
                </div>
			</div>
		</div>
	</div>
{% endblock %}
